body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input,
select,
textarea {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

button {
  background-color: #28a745;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #218838;
}

#title {
  text-align: center;
}

.form-container {
  background: white;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.radio-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.radio-group input {
  width: auto;
}

.radio-group label {
  padding-top: 3px;
}

.checkbox-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox-group input {
  width: auto;
}

.checkbox-group label {
  padding-top: 3px;
}
